/* Mobile */
/* Context */
.navbar-context { background-color: #678482; }

/* Desktop */
@media (min-width: 768px) {
  /* Context */
  #page-header { background-color: #678482; }
  #page-header .region { background-color: #678482; }
}
